<!-- templates/mall/item_detail.html -->

{% extends 'base_generic.html' %}

{% block content %}
<h2>{{ item.name }}</h2>
<p>{{ item.description }}</p>
<p>Price: {{ item.price }}</p>
<p>Stock: {{ item.stock }}</p>
{% if item.image %}
    <img src="{{ item.image.url }}" alt="{{ item.name }}">
{% endif %}
<form method="post" action="{% url 'purchase_item' item.id %}">
    {% csrf_token %}
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{ item.stock }}">
    <button type="submit">Purchase</button>
</form>

{% if item in request.user.transaction_set.values_list('item', flat=True) %}
    <form method="post" action="{% url 'equip_item' item.id %}">
        {% csrf_token %}
        <button type="submit">Equip Item</button>
    </form>
{% endif %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
{% endblock %}

